# Ignore all
*

# Unignore all files with extensions
!*.*

# Unignore all directories
!*/

# Unignore makefiles
!Makefile

# Ignore all files with extensions that could be binary files
*.o
*.elf
*.bin
*.bit
*.mcs
*.vmem

# Ignore log files and other temporary files
*.log
*.txt
*.csv
*.vcd
