[submodule "ibex"]
	path = ibex
	url = https://github.com/michael-platzer/ibex.git
	branch = coproc_if_external_csr
[submodule "cv32e40x"]
	path = cv32e40x
	url = git@github.com:michael-platzer/cv32e40x.git
